.slidev-layout {
  background: linear-gradient(to bottom, #090d18, #000306);
  color: white;
  font-family: system-ui, sans-serif;

  h1 {
    font-weight: 500;
    --uno: text-size-5xl;
  }

  h2 {
    --uno: text-size-3xl;
  }

  ul {
    list-style-type: disc;

    li {
      margin-top: 0.8em;
    }
  }

  .content {
    margin-top: 3rem;
    --uno: text-size-xl;
    font-weight: 200;
  }

  .slidev-vclick-hidden {
    visibility: hidden;
  }
}

.onion-circle {
  border-radius: 50%;
  box-shadow: 0 0 20px #00000033;
  display: flex;
  justify-content: center;
  border: 2px solid #4b6179;
  color: #9caaba;
  height: 100%;
  width: 100%;
}

.onion-label {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 0.95rem;
  color: #9caaba;
}

.onion-presentation {
  background: #202b36;
  display: flex;
  flex-direction: column;
  justify-content: center;

  hr {
    border: 1px solid #4b6179;
  }
}

.onion-application {
  background: #2a3745;
}

.onion-domain {
  background: #38495b;
}

.box {
  position: relative;
  background: #202b36;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #4b6179;
  box-shadow: 8px 8px 20px #00000033;

  p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1;
    color: #9caaba;
  }

  hr {
    border-style: dashed;
    border-color: #38495b;
    margin-top: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.text-placeholder {
  background: #38495b;
  height: 1.5rem;
  border-radius: 4px;
  animation: pulse 2s infinite ease-in-out;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;

  &:last-child {
    margin-bottom: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
