.slidev-code {
  background: transparent;
  font-size: 0.6rem !important;
  line-height: 1.5 !important;
}

.slidev-code-group-tabs,
.slidev-code-block-title {
  background: transparent;
  box-shadow: none;
}

.monaco-editor-background {
  background: none !important;
}

.slidev-monaco-container,
.monaco-editor,
.monaco-editor .margin {
  background: #18202d !important;
}

.editor-runner {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 1rem;
  margin-top: 1rem;
  height: 420px;

  .slidev-monaco-container {
    height: 100% !important;
  }

  > :first-child {
    .slidev-monaco-container-inner {
      height: 100% !important;
    }
  }

  > :last-child {
    .slidev-monaco-container {
      display: grid;
      grid-template-rows: auto 1fr;

      > :last-child {
        transform: translateY(-0%);
        top: unset;
        right: 12px;
        /* bottom: 16px; */
        top: -50px;
      }
    }
  }
}
